<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/headers.css">
<!--    <link rel="stylesheet" href="css/School.css">-->
<!--    <link rel="stylesheet" href="/css/students.css">-->
<!--    <link rel="stylesheet" href="/css/result.css">-->
<!--    <link rel="stylesheet" href="/css/editsection.css">-->
<!--    <link rel="stylesheet" href="/css/newSection.css">-->
<!--    <link rel="stylesheet" href="/css/showSection.css">-->
<!--    <link rel="stylesheet" href="/css/editclassTeacher.css">-->
<!--    <link rel="stylesheet" href="/css/newclassTeacher.css">-->
    <link rel="stylesheet" href="/css/Year.css">
    <link rel="stylesheet" href="/css/Years.css">
<!--    <link rel="stylesheet" href="/css/newstudent.css">-->
    <link rel="stylesheet" href="/css/class.css">
<!--    <link rel="stylesheet" href="/css/newstudent.css">-->
<!--    <link rel="stylesheet" href="/css/editstudent.css">-->
    <link rel="stylesheet" href="/css/studentDetail.css">
<!--    <link rel="stylesheet" href="/css/allteachers.css">-->
<!--    <link rel="stylesheet" href="/css/all-info.css">-->
<!--    <link rel="stylesheet" href="/css/allresult.css">-->
<!--    <link rel="stylesheet" href="/css/info-news.css">-->
    <!-- <link rel="stylesheet" href="/css/showSection.css"> -->
    <title>Document</title>
</head>
