<% include ../partials/headers %>
<title></title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="/css/login.css">
<% include ../partials/headers2 %>
<body>
    <div id="container">
        <div class="inner-container">
        <form action="/classteachers/login" method="post">
            <input class="input" type="text" name="username" id="" placeholder="username">
            <input class="input2" type="password" name="password" id="" placeholder="password">
        
            <section>
                <button class="button" type="submit">Submit</button>
            </section>
        </form>
        </div>
    </div>

<% include ../partials/footer %>
