<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="change_p.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <h4>My Beulah</h4>
        <nav>
            <li><a href="#">Home</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Student Portal</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Username</a></li>
            <li><a href="#">Logout</a></li>
        </nav>
    </header>
    <form action="" method="post">
        <section class="username">
            <label for="username">Username :</label>
            <input type="text" name="username" id="username" 
            placeholder="Username">
        </section>
        <p id="msg" class="error"></p>
        <section>
            <label for="password">Password :</label>
            <input type="text" name="password" id="password"
            placeholder="Password">
        </section>
        <p id="msgPa" class="error"></p>
        <section>
            <label for="email">Email :</label>
            <input type="text" name="email" id="email"
             placeholder="Email">
        </section>
        <p id="msgEm" class="error"></p>
        <section>
            <label for="username">Address :</label>
            <input type="text" name="username" required id="address" 
            placeholder="Address">
        </section>
        <p id="msgAd" class="error"></p>   
        <input type="submit" value="Submit" id="submit">             
    </form>
    <footer class="container">
        <p>&copy; Beulah 2017-2019</p>
    </footer>
    <script src="change_p.js"></script>
</body>
</html>