html,body{
    background-color: gray;
    margin: 0%;
    padding: 0%;
}
div > li >a{
    color: white;
    font-style: bold;
    font-family: serif;
}
#container{
    min-height: 85%;
    padding-bottom: 100px;
    overflow: auto;
}

.inner-container{
    border-radius: 0px;
    border: none;
    margin: 0px auto;
    margin-bottom: 50px;
    background: white;
    width: 70%;
}

.teachers{
    width:100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
}

a{
	text-decoration: none;
}

.button1{
    border:none;
    padding:3px;
    border-radius: 3px;
    /* width:30%; */
    margin:5px auto;
    margin-bottom: 5px;
    background-color: darkred;
    color:white;
/*    width: 30%;*/
}


.teacher{
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    flex-basis: 45%; 
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 180px;
    background: white;
    /* border: 1px solid gray; */
    box-shadow: 5px 5px 5px 5px #aaaaaa;
}

.imgcontainer{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0%;
    margin-bottom: 0%;
    height: 80%;
    width: 50%;
    justify-self: center;
}

img{
    height: 100%;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}

li a{
    margin-top: 10px;
    background:darkred;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left:6px;
    border-radius: 2px;
    padding-right:6px;
    color: white;
    border-radius: 2px;
}

li{
    text-decoration: none;
    list-style: none;
}

.details{
    margin-top: 15px;
    margin-left: 5px;
}





@media(max-width:880px){
    .teacher{
        /* flex-wrap: wrap; */
        flex-basis: 100%;
        flex-direction: row;
        margin-left:10%;
        margin-right: 10%;
        align-content: center;
    }
    
    .imgcontainer{
        margin-left: 5px;
        margin-right: 5px;
        /* margin-top: 0%; */
        /* margin-bottom: 0%; */
        height: 80%;
        flex-basis: 50%;
        justify-self: center;
        margin-top: 5px;
        /* justify-self: start; */
    }
    .details{
        margin-top: 10px ;
    }
    img{
        width: 160px;
        height: 120px;
        display: block;
        /* margin-top: 5%; */
        margin: 0px auto;
        display: block;
        /* margin-right: 15%; */
        /* width: 70%; */
        /* margin-bottom: 5%; */
    }
    .details{
        flex-basis: 100%
    }
    .inner-container{
        border-radius: 0px;
        border: none;
        margin: 0px auto;
        margin-bottom: 50px;
        background: white;
        width: 85%;
    }
    li a{
        margin-top: 5px;
        background:darkred;
        padding-bottom: 2px;
        padding-top: 2px;
        padding-left:6px;
        border-radius: 2px;
        padding-right:6px;
        color: white;
        border-radius: 2px;
    }

}


@media(max-width:1200px){
    .teacher{
        /* flex-wrap: wrap; */
        flex-basis: 100%;
        flex-direction: row;
        margin-left:10%;
        margin-right: 10%;
        align-content: center;
    }
    
    .imgcontainer{
        margin-left: 5px;
        margin-right: 5px;
        /* margin-top: 0%; */
        /* margin-bottom: 0%; */
        height: 80%;
        flex-basis: 50%;
        justify-self: center;
        margin-top: 5px;
        /* justify-self: start; */
    }
    .details{
        margin-top: 10px ;
    }
    img{
        width: 160px;
        height: 120px;
        display: block;
        /* margin-top: 5%; */
        margin: 0px auto;
        display: block;
        /* margin-right: 15%; */
        /* width: 70%; */
        /* margin-bottom: 5%; */
    }
    .details{
        flex-basis: 100%
    }
    .inner-container{
        border-radius: 0px;
        border: none;
        margin: 0px auto;
        margin-bottom: 50px;
        background: white;
        width:45%;
    }
    li a{
        margin-top: 5px;
        background:darkred;
        padding-bottom: 2px;
        padding-top: 2px;
        padding-left:6px;
        border-radius: 2px;
        padding-right:6px;
        color: white;
        border-radius: 2px;
    }

}

@media(max-width:880px){
    .teacher{
        /* flex-wrap: wrap; */
        flex-basis: 100%;
        flex-direction: row;
        margin-left:10%;
        margin-right: 10%;
        align-content: center;
    }
    
    .imgcontainer{
        margin-left: 5px;
        margin-right: 5px;
        /* margin-top: 0%; */
        /* margin-bottom: 0%; */
        height: 80%;
        flex-basis: 50%;
        justify-self: center;
        margin-top: 5px;
        /* justify-self: start; */
    }
    .details{
        margin-top: 10px ;
    }
    .inner-container{
        border-radius: 0px;
        border: none;
        margin: 0px auto;
        margin-bottom: 50px;
        background: green;
        width: 50%;
    }
    img{
        width: 160px;
        height: 120px;
        display: block;
        /* margin-top: 5%; */
        margin: 0px auto;
        display: block;
        /* margin-right: 15%; */
        /* width: 70%; */
        /* margin-bottom: 5%; */
    }
    .details{
        flex-basis: 100%
    }
    .inner-container{
        border-radius: 0px;
        border: none;
        margin: 0px auto;
        margin-bottom: 50px;
        background: white;
        width: 60%;
    }
    li a{
        margin-top: 5px;
        background:darkred;
        padding-bottom: 2px;
        padding-top: 2px;
        padding-left:6px;
        border-radius: 2px;
        padding-right:6px;
        color: white;
        border-radius: 2px;
    }

}





@media(max-width:650px){
    .teachers{
        flex-direction:row;
        flex-wrap:wrap;
    }
    .teacher{
        /* flex-wrap: wrap; */
        flex-basis: 80%;
        display:flex;
        flex-direction: column;
        height: 250px;
        /* justify-content: space-between */
        /* margin-left:10%; */
        /* margin-right: 10%; */
        /* align-content: center; */
    }
    .imgcontainer{
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 3%;
        margin-bottom: 0%;
        height: 150px;
        width: 100%
    }
    img{
        width: 160px;
        height: 120px;
        display: block;
        /* margin-top: 5%; */
        margin: 0px auto;
        display: block;
        /* margin-right: 15%; */
        /* width: 70%; */
        /* margin-bottom: 5%; */
    }
    .details{
        flex-basis: 100%
    }
    .inner-container{
        border-radius: 0px;
        border: none;
        margin: 0px auto;
        margin-bottom: 50px;
        background: white;
        width: 85%;
    }
    li a{
        margin-top: 5px;
        background:darkred;
        padding-bottom: 2px;
        padding-top: 2px;
        padding-left:6px;
        border-radius: 2px;
        padding-right:6px;
        color: white;
        border-radius: 2px;
    }
    }


.margin{
    margin-top: 25px;
}

footer{
    position: relative;
    bottom: 0px;
    height: 100px;
    padding: 0%;
    margin-bottom: -100px;
    width: 100%;
    display: flex;
    /* flex-direction: column; */ 
    /* margin-top:30px; */
    justify-content: center;
    align-content: center;
    background-color: darkred;
}



.footer-1{
    /* height: 100px; */
    display: flex;
    align-self: center;
}