<% include ../partials/headers %>
<title></title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="/css/login.css">
<% include ../partials/headers2 %>
<body>
<div id="container">
     <section class="usercontainer">
        <input id="user" value="" width="30%" type="text" />
        <input id="userSearch" value="submit" width="30%" type="button" />
    </section>
    <div id="fill">       
    </div>
    <section id="peter">        
    </section>
</div>
<footer>
    <div class="footer-1">
        &COPY;My Rehoboth 2016
    </div>
</footer>

<script src="/javascript/toggle.js"></script>
<script src="/javascript/result/views/UI.js"></script>
<script src="/javascript/result/models/User.js"></script>
<script src="/javascript/result/app.js"></script>
</body> 
</html>
