<% include ../partials/headers %>
<title></title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="/css/login.css">
<% include ../partials/headers2 %>
<body>
    <div id="container">
        <div class="inner-contain">
        <form action="/head/login" method="post" style="margin-top:0px;">
            <input class="input2" type="text" name="username" id="" placeholder="username">
            <input class="input2" type="password" name="password" id="password" placeholder="password">
            <section>
                <button class="button1" type="submit">Submit</button>
                 <a href="/head/forgotpassword" style="text-align:center" class="button1" type="submit">Forgot  password ?</a>
            </section>
        </form>
        </div>
    </div> 

<% include ../partials/footer %> 
