<!DOCTYPE html>
<html>
<head>
	<title>Activate Password</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap4.css">
</head>
<body>
<div class="container">
<div class="mt-5 mb-3 mx-auto b-2">
    <div class="container">
    <p class="text center">An Password Link has been sent to your Email account</p>    
</div>
</div>
</body>
</html>