<% include ../partials/headers %>
<title>Reset Password</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="/css/login.css">
<% include ../partials/headers2 %>
<body>
    <div id="container">
        <div class="inner-container">
        <form action="/head/forgotpassword" method="post">
            <input class="input" type="text" name="email" id="" placeholder="email">
            <section>
                <button class="button1" type="submit">Submit</button>
            </section>
        </form>
        </div>
    </div> 

<% include ../partials/footer %>

